@charset "UTF-8";

#main_board_nav ul {
	list-style: none;
	margin: 0;
	padding: 30px;
	font-weight: bold;
}

#main_board_nav ul li {
	display: inline-block;
	width: 100px;
	text-align: left;
	vertical-align: middle;
	padding-top: 5px;
}

#main_board_nav ul li.menu-profile {
	padding-top: 5px;
	width: 25px;
}

#main_board_nav ul li.menu-logout {
	width: 150px;
	text-align: left;
}