@charset "UTF-8";

/*서브 배너 공통 시작*/
#sub_banner{
	padding: 30px 0 0 0;
}
/*서브 배너 공통 끝*/

/*카테고리 공통 시작*/
.sub_nav{
	font-weight: 600;
	width:100%;
	/* border:1px solid red; */ /*행의 간격 맞출 때 좋음*/
}
#sub_nav1{
	padding: 20px 0 7px 0;
	float:left; 
	width:450px;
}
#sub_nav2{
	padding: 20px 0 7px 0;
	float:right; 
	width:120px; 
	height:23px;
	font-size:15px;
	/* border:1px solid red; */
}
.sub_nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	/* border:1px solid red; */
}
.sub_nav li{
	list-style-type: none;
	margin-left: 0;
	padding: 0;
	display: inline-block;
	width: 90px;
	text-align: left;
}
.sub_nav li:last-child{
	width:50px;
}
.sub_nav a{
	color: #717171 !important;
	font-size: 20px !important;
}
.sub_nav a:hover{
	position: relative;
	color: #1f1f1f !important;
} 
.sub_nav a:hover:after{
	color: #1f1f1f !important;
	content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 1px;
    background: #1f1f1f;
}
#total{
	padding: 10px 0 0 0;
	margin: 0 0 10px 0;
	color: #1f1f1f;
	float: right; 
	width: 100%; 
	height: 22px;
	font-size:15px;
	/*border: 1px solid red;*/ 
}
.write_button{
	text-align:right;
}
#write_pen{
	position:relative;
	left:46px;
	top:4px;
	width: 18px; 
	height: 18px;
	/*border: 1px solid red;*/
} 
#write_button_box{
	padding-left: 26px;
	color: #fff;
	width: 120px; 
	height: 35px;
	font-size:15px;
	font-weight: 600;
	border: 0;
	background-color: #FA5D57;
	border-radius: 3px;
	margin:20px 0 0 0;
}
/*카테고리(head) 공통 끝*/

/* 자유게시판 테이블 시작 */
.board_table {
  border: 1px #a39485 solid;
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}
thead {
  font-weight: bold;
  background: #E1E1E1;
}
td, th {
  padding: 1em .5em;
  vertical-align: middle;
}
td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
}
.news{
  width: 100px;
  height: 20px;
  background: #FAAB36; 
  color:white;
  margin:auto;
  padding: 0;
}
.help{
  width: 100px;
  height: 20px;
  background: #FA5D57;
  color:white;
  margin:auto;
  padding: 0;
}
.together{
  width: 100px;
  height: 20px;
  background: #8B8C00;
  color:white;
  margin:auto;
  padding: 0;
}
.etc{
  width: 100px;
  height: 20px;
  background: #7C7877;
  color:white;
  margin:auto;
  padding: 0;
}


/* 자유게시판 테이블 끝 */

/*자유게시판 리스트 검색 영역 시작*/
.board_page{
	width: 100%; 
	height: 50px;
	padding: 30px 0 0 0;
	text-align:center;
	font-size:16px;
	/* border: 1px solid red; */
}

ul.search_board{
	list-style:none;
	padding:20px 55px 90px 0px;
	margin:0;
	text-align:center;
}
ul.search_board li{
	padding:0;
	display:inline;
}

.search_board #search_button{
	color: #fff;
	font-size:15px;
	border: 0;
	background-color: #FA5D57;
	border-radius: 3px;
}
/*자유게시판 리스트 검색 영역 끝*/

/*자유게시판 글쓰기 시작*/
#hr_top1{
	width:100%;
	text-align: left;
	margin: 25px 0 30px 0;
}
.content-main #write_form{
	padding: 0;
	/* border: 1px solid red; */
	width: 690px;
}
.wline1{
	height:45px;
}
#write_text{
	height: 30px;
	padding: 20px 0 0 0;
	float: left;
	margin:0;
}
#write_submit{
	border: 0;
	width: 100px;
	height: 30px;
	padding:0;
	float: right;
	margin: 20px 0 0 0;
	color: #fff;
	font-size:15px;
	background-color: #FA5D57;
	border-radius: 3px;
	
}
#hr_top2{
	width:100%;
	text-align: left;
	margin: 10px 0 20px 0;
}

.write_body{
	/* border: 1px solid red; */
	padding: 0;
	line-height: 40;
	height: 345px;
}

.write_body #board_content{
	width:100%;
}

.head_title #board_head{
	float:left; 
	width:160px; 
	height:30px;
	font-size:15px;
}
.head_title #board_title{
	float:right;
	height: 30px;
	width: 520px;
	/* border: 1px solid red; */
}
.image_add{
	/* border: 1px solid red;  */
	padding:6px 0 50px 0;
	line-height: 2.3;
}
.image_add #s{
	font-size: 14px;
	font-weight: bold;
}
.image_add .file_detail{
	font-size: 14px;
}
.image_add p{
	font-size: 12px;
	color: gray;
	margin: 0;
}
.image_add #board_image1, #board_image2, #board_image3{
	font-size:15px;
}
/*자유게시판 글쓰기 끝*/

/*자유게시판 글상세 시작*/
#badge_news{
	padding: 6px 0 0 12px;
	/* border: 1px solid red; */
	width: 180px;
    height: 33px;
	color: #fff;
	font-size:15px;
	background-color: #FAAB36;
	border-radius: 200px;
}
#badge_help{
	padding: 6px 0 0 12px;
	/* border: 1px solid red; */
	width: 170px;
	height: 30px;
	color: #fff;
	font-size:15px;
	background-color: #FA5D57;
	border-radius: 200px;
}
#badge_together{
	padding: 6px 0 0 12px;
	/* border: 1px solid red; */
	width: 170px;
	height: 30px;
	color: #fff;
	font-size:15px;
	background-color: #8B8C00;
	border-radius: 200px;
}
#badge_etc{
	padding: 6px 0 0 12px;
	/* border: 1px solid red; */
	width: 140px;
	height: 30px;
	color: #fff;
	font-size:15px;
	background-color: #7C7877;
	border-radius: 200px;
}
.content-main h2{
	margin: 25px 0 15px 0;
}
.detail-info {
	/* border: 1px solid red; */
	padding:0;
	margin:0;
}
.detail-info .my-photo{
	float:left;
	
}
.detail-info #name{
	/* border: 1px solid red; */
	float:center;
}
.detail-info #name span{
	font-weight: 600;
	/* border: 1px solid red; */
}
.detail-info #reply_view{
	/* border: 1px solid red; */
	float:right;
	margin: 24px 0 0 0;
}

.detail-info #content{
	border: 1px solid red;
	margin: 10px ;
}

.detail-img {
	margin:50px 0 0 0;
}
.detail_bottom_btn{
	width:100%;
	height: 100px;
	position:relative;
	/* border: 1px solid red; */
}
#modify_btn{
	border: 0;
	width: 80px;
	height: 30px;
	float: right;
	margin: 50px 0 0 0;
	color: #fff;
	font-size:15px;
	background-color: gray;
	border-radius: 3px;
}
#delete_btn{
	border: 0;
	width: 80px;
	height: 30px;
	padding:10;
	float: right;
	margin: 50px 10px 0 0;
	color: #fff;
	font-size:15px;
	background-color: gray;
	border-radius: 3px;
}
#list_btn{
	border: 0;
	width: 160px;
	height: 40px;
	float: center;
	margin: 0;
	color: #fff;
	font-size:15px;
	background-color: #FA5D57;
	border-radius: 3px;
	/* border: 1px solid red; */
	position:absolute;
	top: 60%;
	left:50%;
	transform: translate(-50%, -50%);
}

/*자유게시판 글상세 끝*/

/*자유게시판 글수정 시작*/
.file_del{
	border: 0;
	width: 65px;
	height: 20px;
	color: #fff;
	font-size:12px;
	background-color: gray;
	border-radius: 3px;
}
/*자유게시판 글수정 끝*/

/*댓글 달기 시작*/
#reply_div .re-title{
	font-size: 17px;
	font-weight: bold;
}
#re_second .submit{
	border: 0;
	width: 80px;
	height: 30px;
	padding:10;
	float: right;
	color: #fff;
	font-size:15px;
	background-color: #FA5D57;
	border-radius: 3px;
}
/*댓글 달기 끝*/






