@charset "UTF-8";
body{
	font-family: 'Noto Sans KR', sans-serif !important;
}
/*서브 배너 공통 시작*/
#sub_banner {
	padding: 30px 0 0 0;
}
/*서브 배너 공통 끝*/

/*******************************/

/* 카테고리 시작 */
.category_btn {
	background-color: rgba(255, 255, 255, 10);
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	border: none;
	width: 90px;
	vertical-align: middle;
	color: #717171 !important;
	font-weight: 600;
	padding: 25px 0 25px 0;
	text-align: left;
}

.category_btn:hover {
	color: #1f1f1f !important;
	text-decoration: solid underline #1f1f1f 4px;
	/*  text-underline-position:under;
 */
	text-underline-offset: 3px;
}

/* 카테고리 끝 */

/*******************************/

/* 글목록 시작 */
.content-main h2 {
	font-weight: 700;
/* 	padding-top: 30px; */
	font-size:21pt;
}

.job_table {
	border: 1px #a39485 solid;
	font-size: 16px;
	width: 100%;
	border-collapse: collapse;
	border-radius: 5px;
	overflow: hidden;
}

thead {
	font-weight: bold;
	background: #E1E1E1;
}

td, th {
	padding: 1em .5em;
	vertical-align: middle;
}

td {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	background: #fff;
}

/* 글목록 끝 */

/*******************************/

/* 글쓰기 시작 */
.content-main form {
	display:block;
	padding: 0;
	width:100%;
	font-size:16px;
}

/* input[type=file] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
} */

.content-main {
	padding: 0 0 0 0 px;
}

.write_submit{
	border: 0;
	width: 100px;
	height: 30px;
	padding:0;
	float: right;
	margin: 20px 0 0 0;
	color: #fff;
	font-size:15px;
	background-color: #FA5D57;
	border-radius: 3px;
}
.content-main li{
	padding:5px;
	position:relative;
}
.content-main label{
	color: #333;
    font-weight: 700;
}

.search_job li{
	left:0;
}

.content-main #title{
	width:520px;
	height:30px;
}

.content-main #content{
	width:520px;
	height:200px;
}
.content-main #link{
	width:520px;
	height:30px;
}
.content-main #enddate{
	width:520px;
	height:30px;
}
.content-main #sample3_postcode{
	width:100px;
	height:30px;
}
.content-main #sample3_address{
	width:300px;
	height:30px;
}
.content-main #sample3_detailAddress{
	width:220px;
	height:30px;
}
.content-main #sample3_extraAddress{
	width:520px;
	height:30px;
}
.content-main .job_add{
	margin-bottom:5px;
}
.content-main form input[type="file"]{
 position: absolute;
    height: 100%;
    width:660px;
    opacity: 0;
}
.input_file_btn{
	
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    padding: 0 15px;
    height: 30px;
    font-size: 13px;
    color: #fff;
    background-color: #fa5d57;
    width:520px;
}

/* 글쓰기 끝 */

/*******************************/

/* 글 상세보기 시작 */
ul.default-info {
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 0 0 !important;
}

.content-main ul {
	padding-left: 0 !important;
}

.job_detail {
	margin: 50px 0 0 0;
	display:flex;
	position:relative;
}

.job_detail table{
	margin:0 0 0 50px;
}

.job_detail td{
	border:none;
	text-align:left;
}

.detail_sub {
	text-align: right;
}

.logo_image{
	width:300px;
	height:250px;
	border:solid 1px #dcdbdb;
	margin-bottom:20px;
	display:block;
	border-radius:8px;
}

/* 글 상세보기 끝 */

/* 버튼 css */
.write_button {
	text-align: right;
}

#write_pen {
	position: relative;
	left: 46px;
	top: 4px;
	width: 18px;
	height: 18px;
	/*border: 1px solid red;*/
}

#write_button_box {
	padding-left: 26px;
	color: #fff;
	width: 120px;
	height: 35px;
	font-size: 15px;
	font-weight: 600;
	border: 0;
	background-color: #FA5D57;
	border-radius: 3px;
	margin: 20px 0 0 0;
	cursor:pointer;
}

/* 버튼 css 끝 */

/* 페이지 수 시작 */
.job_page {
	width: 100%;
	height: 50px;
	padding: 30px 0 0 0;
	text-align: center;
	font-size: 16px;
	/* border: 1px solid red; */
}

/* 페이지 수 끝 */

/* 검색 시작 */
ul.search_job {
	list-style: none;
	padding: 20px 55px 90px 0px;
	margin: 0;
	text-align: center;
}

ul.search_job li {
	padding: 0;
	display: inline;
}

.search_job #search_button {
	color: #fff;
	font-size: 15px;
	border: 0;
	background-color: #FA5D57;
	border-radius: 3px;
		cursor:pointer;
	
}

select::-ms-expand {
	display: none;
}

/* 검색 끝 */


/***************** 글 상세보기 작성 정보 시작 *****************/

/* 글 상세보기 작성 정보 시작 */
.detail-info{
	padding:20px;
	border-bottom:1px solid #dcdbdb;
	text-align:left;
	width:100%;
}

.detail-info li{
	text-align:left;
	left:0;
	
}

.detail_bottom_btn{
	width:100%;
	height: 100px;
	position:relative;
	/* border: 1px solid red; */
}

li.detail-info-r{
	text-align:right;
	float:right;
	margin:24px 0 0 0;
}

#modify_btn{
	border: 0;
	width: 80px;
	height: 30px;
	float: right;
	margin: 50px 0 0 0;
	color: #fff;
	font-size:15px;
	background-color: gray;
	border-radius: 3px;
	cursor:pointer;
}
#delete_btn{
	border: 0;
	width: 80px;
	height: 30px;
	padding:10;
	float: right;
	margin: 50px 10px 0 0;
	color: #fff;
	font-size:15px;
	background-color: gray;
	border-radius: 3px;
		cursor:pointer;
	
}
#list_btn{
	border: 0;
	width: 160px;
	height: 40px;
	float: center;
	margin: 0;
	color: #fff;
	font-size:15px;
	background-color: #FA5D57;
	border-radius: 3px;
	/* border: 1px solid red; */
	position:absolute;
	top: 60%;
	left:50%;
	transform: translate(-50%, -50%);
		cursor:pointer;
	
}

/* 글 상세보기 작성 정보 끝 */

/***************** 글 상세보기 끝 *****************/



/***************** 글 작성 시작 *****************/



/***************** 글 작성 끝 *****************/



/* 내가 쓴 글 구인구직 시작 */

.myjoblist{
	width:100%;
	margin:0;
}

/* 내가 쓴 글 구인구직 끝 */