@charset "UTF-8";
/*서브 배너 공통 시작*/
#sub_banner{
	padding: 30px 0 0 0;
}
/*서브 배너 공통 끝*/
/*카테고리 공통 시작*/
#main_sub_nav {
	margin-left: 0;
	padding: 30px 0 30px 0;
	font-weight: 600;
	width:100%;
	left:0;
}

#main_sub_nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#main_sub_nav ul li {
	list-style-type: none;
	margin-left: 10px;
	display: inline-block;
	width: 90px;
	text-align: left;
	vertical-align: middle;
}
#main_sub_nav ul li a {
	position: relative;
	color: #717171 !important;
	font-size: 20px !important;
	word-spacing: 5px;
}

#main_sub_nav ul li a:active{
	color: #1f1f1f !important;
}
#main_sub_nav ul li a:hover:after{
	content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 1px;
    background: black;
}
/*카테고리(head) 공통 끝*/
/* 게시판 테이블 시작 */
.notice_table {
  border: 1px #a39485 solid;
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}
thead {
  font-weight: bold;
  background: #E1E1E1;
}
td, th {
  padding: 1em .5em;
  vertical-align: middle;
}
td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
}
.must{
  width: 45px;
  height: 20px;
  background: #FA5D57;
  color:white;
  margin:auto;
}
.read{
  width: 45px;
  height: 20px;
  color: #FA5D57;
  margin:auto;
  border: 1px solid #FA5D57;
}

/* 게시판 테이블 끝 */
/* 버튼 및 검색 공통 폼 시작 */
.write_button{
	text-align:right;
}
#write_pen{
	position:relative;
	left:46px;
	top:4px;
	width: 18px; 
	height: 18px;
	/*border: 1px solid red;*/
} 
#write_button_box{
	padding-left: 26px;
	color: #fff;
	width: 120px; 
	height: 35px;
	font-size:15px;
	font-weight: 600;
	border: 0;
	background-color: #FA5D57;
	border-radius: 3px;
	margin:20px 0 0 0;
}
.board_page{
	width: 100%; 
	height: 50px;
	padding: 30px 0 0 0;
	text-align:center;
	font-size:16px;
	/* border: 1px solid red; */
}

ul.search_notice{
	list-style:none;
	padding:20px 55px 90px 0px;
	margin:0;
	text-align:center;
}
ul.search_notice li{
	padding:0;
	display:inline;
}
.search_notice #search_button{
	color: #fff;
	font-size:15px;
	border: 0;
	background-color: #FA5D57;
	border-radius: 3px;
}
#home_button{
	color: #fff;
	font-size:15px;
	font-weight:600;
	width:80px;
	height:35px;
	border: 0;
	background-color: #FA5D57;
	border-radius: 3px;
	
}

/* 버튼 및 검색 공통 폼 끝 */

/* writeForm 시작 */
#hr_top1{
	width:100%;
	text-align: left;
	margin: 25px 0 30px 0;
}
#hr_top2{
	width:100%;
	text-align: left;
	margin: 10px 0 20px 0;
}
.content-main #write_form{
	padding: 0;
	/* border: 1px solid red; */
	width: 690px;
}
.wline1{
	height:45px;
}
#write_text{
	height: 30px;
	padding: 20px 0 0 0;
	float: left;
	margin:0;
}
#write_submit{
	border: 0;
	width: 100px;
	height: 30px;
	padding:0;
	float: right;
	margin: 20px 0 0 0;
	color: #fff;
	font-size:15px;
	background-color: #FA5D57;
	border-radius: 3px;	
}
.write_body{
	/* border: 1px solid red; */
	padding: 0;
	line-height: 40;
	height: 345px;
}

.head_title #notice_head{
	float:left; 
	width:160px; 
	height:30px;
	font-size:15px;
}
.head_title #notice_title{
	float:right;
	height: 30px;
	width: 520px;
	/* border: 1px solid red; */
}
.image_add{
	/* border: 1px solid red;  */
	padding:6px 0 50px 0;
	line-height: 2.3;
}
.image_add #s{
	font-size: 14px;
	font-weight: bold;
}
.image_add .file_detail{
	font-size: 14px;
}
.image_add p{
	font-size: 12px;
	color: gray;
	margin: 0;
}
.image_add #file1, #file2, #file3{
	font-size:15px;
}
/* writeForm 끝 */

/* 글 수정 시작 */
.file_del{
	border: 0;
	width: 65px;
	height: 20px;
	color: #fff;
	font-size:12px;
	background-color: gray;
	border-radius: 3px;
}
/* 글 수정 끝 */

/* 글 상세보기 시작 */
#badge_must{
	padding: 6px 0 0 12px;
	width: 125px;
	height: 30px;
	color: #fff;
	font-size:15px;
	background-color: #FA5D57;
	border-radius: 200px;
}
#badge_read{
	padding: 6px 0 0 12px;
	width: 125px;
	height: 30px;
	color: #FA5D57;
	font-size:15px;
	background-color: #fff;
	border-radius: 200px;
	border: 1px solid #FA5D57;
}
.content-main h2{
	margin: 25px 0 15px 0;
}
.detail-info {
	padding:0;
	margin:0;
}
.detail-info .my-photo{
	float:left;
}
.detail-info #name{
	float:center;
}
.detail-info #name span{
	font-weight: 600;
	/* border: 1px solid red; */
}
.detail-info #n_count{
	/* border: 1px solid red; */
	float:right;
	margin: 24px 0 0 0;
}
.detail-info #content{
	border: 1px solid red;
	margin: 10px ;
}
.detail-img {
	margin:50px 0 0 0;
}
.detail_bottom_btn{
	width:100%;
	height: 100px;
	position:relative;
}
#modify_btn{
	border: 0;
	width: 80px;
	height: 30px;
	float: right;
	margin: 50px 0 0 0;
	color: #fff;
	font-size:15px;
	background-color: gray;
	border-radius: 3px;
}
#delete_btn{
	border: 0;
	width: 80px;
	height: 30px;
	padding:10;
	float: right;
	margin: 50px 10px 0 0;
	color: #fff;
	font-size:15px;
	background-color: gray;
	border-radius: 3px;
}
#list_btn{
	border: 0;
	width: 160px;
	height: 40px;
	float: center;
	margin: 0;
	color: #fff;
	font-size:15px;
	background-color: #FA5D57;
	border-radius: 3px;
	/* border: 1px solid red; */
	position:absolute;
	top: 60%;
	left:50%;
	transform: translate(-50%, -50%);
}


/* 글 상세보기 끝 */


