@charset "UTF-8";

/*공통*/
body{
	width:960px;
	margin:0 auto;
	background:#E6E6E6;
}
.page-main{
	background:white;
	margin:40px 0;
	border-radius:5px;
	box-shadow:0 2px 6px rgba(100,100,100,0.3);
	min-height:650px;
}
#main_logo{
	padding-top:20px;
}
#main_nav{
	padding:2px 10px 20px 10px;
	height:20px;
	background-color:#C1BFBF;
}
#main_nav ul{
	list-style:none;
	margin:0;
	padding:0;
}
#main_nav ul li{
	display:inline-block;
	width:100px;
	text-align:center;
	vertical-align:middle;
	padding-top:5px;
}
#main_nav ul li.menu-profile{
	padding-top:5px;
	width:25px;
}
#main_nav ul li.menu-logout{
	width:150px;
	text-align:left;
}
.content-main{
	padding:10px 20px;
}
.result-display{
	width:400px;
	height:200px;
	margin:50px auto;
	border:1px solid #000;
	display:flex;/*하위요소를 수직으로 쌓을 수 있는 공간을 만듬*/
	align-items:center;/*세로 정렬*/
	justify-content:center;/*가로 정렬*/
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited{
	text-decoration:none;
	color:#000000;
}
a:hover{
	text-decoration:none;
	color:#6C6C6C;
}
/*목록*/
form#search_form{
	border:none;
}
ul.search{
	width:300px;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}
.list-space{
	margin-bottom:10px;
}
table{
	width:100%;
	border:1px solid #000;
	border-collapse:collapse;
	margin-top:5px;
}
table td, table th{
	border:1px solid #000;
	padding:5px;
}
/*등록, 수정폼*/
form{
	width:600px;
	margin:0 auto;
	border:1px solid #000;
	padding:10px 10px 10px 30px;
}
ul{
	list-style:none;
}
label{
	width:130px;
	float:left;/*태그를 왼쪽으로 정렬*/
}
input[type="text"],input[type="password"],input[type="email"]{
	width:200px;
}
#register_form input[id="id"]{
	width:113px;
}
input[id="zipcode"]{
	width:95px;
}
.form-notice{
	margin-left:130px;
}
/*My Page*/
.mypage-div{
	width:48%;
	float:left;
	padding:5px;
}
.mypage-end{
	clear:both;
}
.my-photo{
	object-fit:cover;
	/*정사각형이 아니라 직사각형일 경우 원 안에 보여지게 할 중심
	이미지 위치를 지정*/
	object-position:top;
	border-radius:50%;
}












