@charset "UTF-8";

/*서브 배너 공통 시작*/
#sub_banner{
	padding: 30px 0 0 0;
}


/*삽니다 팝니다 버튼*/
div.btn-group{
	width:300px;
	padding-bottom: 20px;
	
}
/*리스트 카테고리*/
.sub_nav{
	font-weight: 600;
	width:100%;
	/* border:1px solid red; */ /*행의 간격 맞출 때 좋음*/
}
#sub_nav1{
	padding: 20px 0 7px 0;
	float:left; 
	width:468px;
}
.sub_nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.sub_nav li{
	list-style-type: none;
	margin-left: 0;
	padding: 0;
	display: inline-block;
	width: 90px;
	text-align: center;
}
.sub_nav a{
	color: #717171 !important;
	font-size: 20px !important;
}
.sub_nav a:hover{
	position: relative;
	color: #1f1f1f !important;
} 
.sub_nav a:hover:after{
	color: #1f1f1f !important;
	content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 1px;
    background: #1f1f1f;
}
div #category-end{
	clear: both;
}
/*탑 버튼*/
.button{
	color: #fff;
	font-size:15px;
	border: 0;
	background-color: #FA5D57;
	border-radius: 3px;
	cursor: pointer;
}
/*글쓰기 버튼*/
.write_button{
	text-align:right;
}
#write_pen{
	position:relative;
	left:46px;
	width: 18px; 
	height: 18px;
	/*border: 1px solid red;*/
} 
#write_button_box{
	padding-left: 26px;
	color: #fff;
	width: 120px; 
	height: 35px;
	font-size:15px;
	font-weight: 600;
	border: 0;
	background-color: #FA5D57;
	border-radius: 3px;
	margin:20px 0 0 0;
}
/*리스트 검색 창*/
ul.search_board{
	list-style:none;
	padding:20px 55px 90px 0px;
	margin:0;
	text-align:center;
}
ul.search_board li{
	padding:0;
	display:inline;
}

.search_board #search_button{
	color: #fff;
	font-size:15px;
	border: 0;
	background-color: #FA5D57;
	border-radius: 3px;
}
/*상세페이지*/
h5.trade-detail-head{
	background-color: #FA5D57;
	width:180px;
	height:50px;
	text-align: center;
	padding-top: 12px;
	color:white;
	border-radius: 20px;
	margin-left: 10px;
}
ul #detail-top{
	margin-bottom: 10px;
}
.detail-info #li-margin{
	margin-left: 20px;
	vertical-align: middle;
}
hr.hr-look{
	height : 1px;
}
.detail-div {
	width: 48%;
	height : 300px;
	float: left;
	padding: 5px;
}

.detail-end {
	clear: both;
}

.detail-div .carousel-inner img{
	height:300px;
}

div #detail-margin{
	margin-left: 20px;
}

.detail-div #detail-div-title{
	margin-top: 10px;
	margin-bottom: 10px;
}
.detail-div #detail-div-price{
	font-weight: bold;
}
.detail-div #detail-div-call-phone{
	font-weight: bold;
}
.detail-div #detail-div-like{
	margin-top: 20px;
	display: flex;
}
div #flex{
	display: flex;
	margin-left: 44%;
	margin-bottom: 30px;
}
div #flex2{
	margin-left: 36%;
}

/*중고거래 글쓰기 시작*/
#hr_top1{
	width:100%;
	text-align: left;
	margin: 25px 0 30px 0;
}
.content-main #write_form{
	padding: 0;
	/* border: 1px solid red; */
	width: 690px;
}
.wline1{
	height:45px;
}
#write_text{
	height: 30px;
	padding: 20px 0 0 0;
	float: left;
	margin:0;
}
#write_submit{
	border: 0;
	width: 100px;
	height: 30px;
	padding:0;
	float: right;
	margin: 20px 0 0 0;
	color: #fff;
	font-size:15px;
	background-color: #FA5D57;
	border-radius: 3px;
	cursor: pointer;
	
}
#hr_top2{
	width:100%;
	text-align: left;
	margin: 10px 0 20px 0;
}
.write_body{
	/* border: 1px solid red; */
	padding: 0;
	line-height: 40px;
	height: 570px;
}
.write_trade_head{
	width:30px; 
	height:15px;
	font-size:15px;
}
span .write-head{
	font-size: 15px;
}
.write_body #trade_content{
   width:100%;
}
.image_add{
	/* border: 1px solid red;  */
	padding:6px 0 50px 0;
	line-height: 2.3;
}
.image_add #s{
	font-size: 14px;
	font-weight: bold;
}
.image_add .file_detail{
	font-size: 14px;
}
.image_add p{
	font-size: 12px;
	color: gray;
	margin: 0;
}
.image_add #trade_image1, #trade_image2, #trade_image3{
	font-size:15px;
}

/*중고거래 글수정 시작*/
.file_del{
	border: 0;
	width: 65px;
	height: 20px;
	color: #fff;
	font-size:12px;
	background-color: gray;
	border-radius: 3px;
}
/*찜 목록*/
#mylike_button{
	margin-top: 20px;
}


/*중고거래 내가 쓴 글*/

#mytrade_button{
	margin-top: 20px;
}



/************************************/

.trade_check{
	text-align:right;
	 display: grid;
}
.trade_num{
	display:block;
	margin:0 0 10px 0 !important;
	text-align:center;
	justify-content : center;
	
}

.board-space .horizontal-area{
	height:100% !important;
}

.board-image{
	text-align:center;
}

.board-space form{
	width:100%;
	margin:0 auto;
	text-align:center;
	
}

.board-space .horizontal-area div.board-detail{
	text-align:left !important;
}

.board-user-info{
	display:inline-block;
}

#detail-title{
	padding: 0 !important;
	margin: 0 !important;
}

#trade-text-area{
	padding: 0 !important;
	margin: 0 !important;
	
}



/* 헤더 영역 수정*/
.member_top{
	margin:16px 0;
	padding:0 0 0 40px;	
}

.align-center{
	margin:26.8px 0;
}


/**/